<div class="volunteers_body">
  <h1>ボランティアを修正</h1>
  <div class="form-group">
    <%= render 'form', volunteer: @volunteer %>
  </div>
</div>
<footer>
  <%= link_to '詳細を確認', @volunteer, class: 'btn btn-primary' %>
</footer>
