<% if user_signed_in? %>
  <%= form_with(model: [volunteer, comment])  do |form| %>
    <div class="field">
      <%= form.text_area :content, class: 'form-control', placeholder: 'コメントを入力'  %>
    </div>
    <br>
    <div class="actions">
      <%= form.submit 'コメントする', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
