<h1>ボランティアの受注がキャンセルされました</h1>
<h4>title: <%= @volunteer.title %></h4>
<h4>ボランティア内容の確認</h4>
<p>詳細: <%= @volunteer.describe %></p>
<p><span>受注している人</span></p>
<ul>
  <% @volunteer.contractors.each do |contractor| %>
    <li><%= contractor.name %></li>
  <% end %>
</ul>
<p>キャンセルした人</p>
<%= @user.name %>
