<h1>受注していたボランティアが削除されました</h1>
<h4>title: <%= @volunteer.title %></h4>
<h4>ボランティア内容の確認</h4>
<p>詳細: <%= @volunteer.describe %></p>
<h4>ボランティアの場所</h4>
<p>場所: <%= @volunteer.address %></p>
<h4>ボランティアの日時</h4>
<p>日時: <%= @volunteer.date %></p>
