// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

header {
  width: 100%;
  height: 200px;
  text-align: center;
  color: #FF99CC;
  background-image: image-url("inaka.jpg");
  background-position: center top;
  background-size: cover;
}

footer {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  text-align: center;
  background-image: image-url("inaka.jpg");
  background-position: center bottom;
  background-size: cover;
}

#img_prev {
  width: 250px;
  height: 250px;
  object-fit: contain;
}


.head_navbar {
  background-color: #EEFFFF;
}

.head_navbar#logo {
  color: red;
}

.top_icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.show_icon {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.category_list {
  font-size: 50%;
}

// ボタン2
.btn2 {
  font-size: 2rem;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;

}

.btn2::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #88FFFF;
  -webkit-transform: scaleY(.3);
  transform: scaleY(.3);
  opacity: 0;
  transition: all .3s
}

.btn2:hover{
  color:#FF9872;
}
.btn2:hover::before{
  opacity: 1;
  background-color: #88FFFF;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
  transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}
