// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// body {
//   background-image: url('vol_top.jpg');
// }

// nav {
//   background-color: #DDFFFF;
// }
